<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <h2>Register</h2>
    <form id="registerForm">
        <input type="text" id="regUsername" placeholder="Username">
        <input type="password" id="regPassword" placeholder="Password">
        <button type="submit">Register</button>
    </form>

    <h2>Login</h2>
    <form id="loginForm">
        <input type="text" id="loginUsername" placeholder="Username">
        <input type="password" id="loginPassword" placeholder="Password">
        <button type="submit">Login</button>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
